body{
    background-color: darkgray;
    font-style: oblique;
    font-family: cursive;
}
.parent{
    border: 6px solid whitesmoke;
    width: 950px;
    height: 400px;
    box-sizing: border-box;
    margin: 140PX auto;
}
.one{
    background-color: #2f3030;
    height: 110px;
    text-align: center;
    padding-top: 15px;
}