body{
    font-style:oblique;
    background-color: gray;
}
.one{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    background-color: lightgray;
    margin:80px auto;
    padding: 30px 0;
    text-align: center;
    border-radius: 15px;
    box-shadow: 20px 20px 40px #343634;
    
}
.two{

    width: 180px;
    height: 180px;
    border: 2px solid gray;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.three{
    font-size: xx-large;
    font-weight:bolder;
    border-bottom: 3px solid #343634;
    width: 200px;
    margin:20px auto;    
}
.four{
    font-size: x-large;
    font-weight: bold;

}
.five{
    height: 70px;
    margin-top: 30px;
    background-color: whitesmoke;
}
.five img{
    padding: 4px 8px;
}